@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


header{
    background-color: black;
    color: white;
    max-height: 70vw;
    padding-bottom: 3vw;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover{
    text-decoration: underline;
}

header > h1{
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 6em;
    padding-top: 50px;
    font-family: var(--fonte2);
    font-variant: small-caps;
}
header > p{
    text-align: center;
    font-size: 1.2em;
    font-family: var(--fonte1);
    margin-bottom: 2.5vw;

}
body{
    margin: 0;
    padding: 0;
}
main > p{
    font-family: var(--fonte3);
    text-align: left;
    max-width: 700px;
    font-size: 3.5vw;
    margin: 3vw;
    padding:10vw 3.5vw;

}
div.joaninha {
    background-color: rgb(20, 113, 196);
    height: 50vw;
    color: white;
    background-image: url('images/background001.jpg');
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10vw 3.5vw;
    margin: 2vw;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    text-shadow: 1px 1px 0px black;
    font-size: 3.5vw;
    

}
div > p{
    background-color: rgba(0, 0, 0, 0.37);
    font-family: var(--fonte3);
    text-align: left;
    max-width: 50vw;
    font-size: 3.5vw;
    padding:2vw 3.5vw;
    max-height: fit-content;
   
    
}
div.livro{
    background-color: rgb(20, 113, 196);
    height: 50vw;
    color: white;
    background-image: url('images/background002.jpg');
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10vw 3.5vw;
    margin: 2vw;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    text-shadow: 1px 1px 0px black;
    font-size: 3.5vw;

}
footer{
    background-color: black;
    color: white;
}
footer p{
    margin: 0;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte1);
}